:root {
  --color-white: #f2f2f2;
  --color-black: #0d0d0d;
  --color-body: #595959;
  --color-select: #595959;
  --color-background-navbar: #262626;
  --color-anchor-navbar: #cacaca;
  --color-anchor-navbar-hover: #f2f2f2;
  --color-hamburger-border: #595959;
  --color-text-shadow-black: rgba(13, 13, 13, 0.8);
  --color-box-shadow: #e5e5e5;
}

* {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

::selection {
  background-color: var(--color-select);
  color: var(--color-white);
}

body {
  margin: auto;
  max-width: 1100px;
  height: 500vh;
  color: var(--color-body);
  line-height: 1.5;
}

p,
a {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--color-black);
}

h1 {
  font-size: 4.5rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}
